<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <a class="navbar-brand" href="#">DB Schenker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home [New Form] <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search RRF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fileUpload">FileUpload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="primeNg">PrimeNg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tracker</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <ul class="navbar-nav mr-right">
      <li class="nav-item" *ngIf="!authService.isUserLoggedIn"><a class="nav-link" routerLink="login" routerLinkActive="active">Login</a></li>   
      <li class="nav-item" *ngIf="authService.isUserLoggedIn"><a class="nav-link" routerLink="" (click)="authService.userLogout()">{{authService.userDetailDataX?.username|uppercase}}--Logout</a></li>
    </ul>
  </div> 
</nav>