<h2>
  list works!
</h2>
<div class="col-md-12">
	<div class="form-group">
	  <div class="col-md-6" >
	    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" />
	  </div>
	</div>
	{{column}} : {{isDesc}}
  <table class="table table-responsive table-hover">
    <tr>
      <th class="pointer" (click)="sort('CategoryID')">
        <i class="" [ngClass]="{'fa-sort': column != 'CategoryID', 'fi-sort-ascending': (column == 'CategoryID' && isDesc), 'fi-sort-descending': (column == 'CategoryID' && !isDesc) }" aria-hidden="true"> </i>
        Category ID
      </th>
      <th class="pointer" (click)="sort('CategoryName')">
        Category
        <i class="" [ngClass]="{'fa-sort': column != 'CategoryName', 'fi-sort-ascending': (column == 'CategoryName' && isDesc), 'fi-sort-descending': (column == 'CategoryName' && !isDesc) }" aria-hidden="true"> </i>
      </th>
      <th class="pointer" (click)="sort('Description')">
        Description
        <i class="" [ngClass]="{'fa-sort': column != 'Description', 'fi-sort-ascending': (column == 'Description' && isDesc), 'fi-sort-descending': (column == 'Description' && !isDesc) }" aria-hidden="true"> </i>
      </th>
    </tr>
    <tr *ngFor="let item of records | category: searchText | orderBy: {property: column, direction: direction}">
      <td>{{item.CategoryID}}</td>
      <td>{{item.CategoryName}}</td>
      <td>{{item.Description}}</td>
    </tr>
  </table>
</div>

http://www.advancesharp.com/blog/1211/angular-2-search-and-sort-with-ngfor-repeater-with-example

https://ciphertrick.com/2017/08/01/search-sort-pagination-in-angular/

