<p>
  prime-ng works!

  https://www.npmjs.com/package/ng4-file-upload
</p>

<form (ngSubmit)="saveForm()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="text-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Email</label>
        <input class="form-control" type="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="model.email" name="email"#email="ngModel"/>
        <div *ngIf="(email.touched || email.dirty) && email.errors" class="text-danger">
        	<span *ngIf="email.errors?.required">Email is required.</span>
	        <span *ngIf="email.errors?.pattern">Email format is invalid</span>
        </div>       
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select class="form-control" id="power" required [(ngModel)]="model.power" name="power" #power="ngModel">
        	<option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="text-danger">Power is required</div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select class="form-control" id="country" required [(ngModel)]="model.country" name="country" #country="ngModel" (change)="changeCountryState(model.country)">
        	<option *ngFor="let countryData of countries" [value]="countryData.id">{{countryData.name}}</option>
        </select>
        <div [hidden]="country.valid || power.pristine" class="text-danger">Country is required</div>
      </div>
      <div class="form-group">
      	<label for="country">State</label>
  		<select class="form-control" required [(ngModel)]="model.state" name="state" #state="ngModel">
  			<option *ngFor="let stateData of states" [value]="stateData.id">{{stateData.name}}</option>
  		</select>
      </div>
      <div class="form-group">
        <label for="power">Upload File</label><br>
      	<input type="file" name="uploadFile" id="uploadFile" #uploadFile="ngModel" [(ngModel)]="model.uploadFile">
      	<div [hidden]="uploadFile.valid || uploadFile.pristine" class="text-danger">File is required</div>
  	  </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
      <i>without</i> reset

     <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>{{diagnostic}}
        <!--Name via form.controls = {{showFormControls(heroForm)}}-->
      </div>
     <!-- - -->
    </form>