<div class="container pt-4">
	<h2>Recruitment Form</h2>
	<div class="row">
	<form [formGroup]="homeForm" (ngSubmit)="homeForm.valid && saveForm()">

	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleSelect1">Example select</label>
	    <select class="form-control" id="exampleSelect1" formControlName="exampleSelect1">
	      <option value="1">1</option>
	      <option value="2">2</option>
	      <option value="3">3</option>
	      <option value="4">4</option>
	      <option value="5">5</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleSelect2">Example multiple select</label>
	    <select multiple class="form-control" id="exampleSelect2" formControlName="exampleSelect2">
	      <option value="1">1</option>
	      <option value="2">2</option>
	      <option value="3">3</option>
	      <option value="4">4</option>
	      <option value="5">5</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleTextarea">Example textarea</label>
	    <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="exampleTextarea"></textarea>
	  </div>
	  <div class="form-group" formGroupName="fileUpload">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" #fileInput id="fileInput" placeholder="Upload file..." aria-describedby="fileHelp" (change)="onSelectFiles($event)" multiple formcon >
	    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
	  </div>
	  <button type="submit" class="btn btn-primary" [disabled]="!homeForm.valid">Submit</button>
	  <button type="submit" class="btn btn-primary" (click)="fileReset()">Reset File</button>
	  <p>Form value: <b> {{ homeForm.value | json }} </b></p>
	</form>
</div>